of/* linguist-vendored
labo/labo2/bin/* linguist-vendored
labo/labo4/bin/* linguist-vendored
labo/labo5/bin/* linguist-vendored
labo/labo6/bin/* linguist-vendored
labo/labo7/bin/* linguist-vendored
labo/labo8/bin/* linguist-vendored
labo/labo9/bin/* linguist-vendored
labo/labo10/bin/* linguist-vendored
